<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79590235864-jvpsecp2qs6bqr53b0c9ic8g2t5ppqsu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79590235864-jvpsecp2qs6bqr53b0c9ic8g2t5ppqsu</string>
	<key>API_KEY</key>
	<string>AIzaSyC1KtqApZyPeibTZMkWJQ1EVPsRv86nM0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>79590235864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.covid19Tracker.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>covid19-tracker-9eca1</string>
	<key>STORAGE_BUCKET</key>
	<string>covid19-tracker-9eca1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79590235864:ios:d9b460e294770d46f901ad</string>
</dict>
</plist>